# This is a workflow for ensuring tests pass with the configured git submodules.
# It does not attempt to update the repos/branches specified in any submodules.
---
name: Test

on:
  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:

jobs:
  doc-checks:
    name: Test documentation website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Install local website package
        working-directory: ./site
        run: npm ci

      - name: Ensure website builds
        working-directory: ./site
        run: npm run build
